* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;

  padding: 5% 3%;
  background-color: #fafafa;
  color: #333;
}
/*header*/
.title {
  font-size: 1.7rem;
  font-family: "Playfair Display", serif;
}
p {
  font-style: italic;
}
.dots {
  color: #828282;
  transform: rotate(90deg);
}

.schedule {
  margin-right: 0%;
}

.fork {
  color: #f2994a;
}

/*main*/
main {
  width: 100vw;
  height: 80vh;
}
img {
  width: 94%;
  height: 39, 93%;
  border-radius: 9px;
  margin-top: 5%;
}
.prepTime {
  padding-top: 5%;
}
.mealDetails {
  display: flex;
}

h5 {
  text-transform: uppercase;
  color: #828282;
}

article {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}

/*Ingredients*/

.ingredients {
  padding-top: 10%;
}

.graham_cheese {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 500;
  padding: 0 0 2% 0;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0 0 2% 0;
}

.greyBox {
  border: 1px solid #828282;
  border-radius: 4px;
  width: 21px;
  height: 21px;
}

.list {
  display: flex;
  padding: 2% 0;
}

.details {
  padding-left: 2%;
  line-height: 27px;
}

/*Instructions*/
