* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

html {
<<<<<<< HEAD
  font-size: 12px;
  height: 100%;
=======
  height: 100%;
  font-size: 12px;
>>>>>>> 950f2624bee517b9588575a9ac5babafc37ad715
}

body {
  font-size: 1rem;
<<<<<<< HEAD
  color: #333;
}

/*header*/
=======
  font-family: "Montserrat", sans-serif;
  color: #333;
  padding: 5% 3% 0 3%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*header*/

.title {
  font-family: "Playfair Display", serif;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 31.99px;
}

.description {
  display: flex;
  padding-top: 3%;
  position: relative;
  right: 28px;
}

.dots {
  transform: rotate(90deg);
  position: relative;
  bottom: 30px;
  color: #828282;
}

.text {
  padding-left: 10%;
  width: 90%;
  float: right;
  font-style: italic;
}

.cheesecake {
  margin-top: 10%;
}
/*mainContent*/

.mainContent {
  margin-top: 10%;
}

img {
  width: 100%;
  border-radius: 9px;
}

.mealDetails {
  display: flex;
  margin-top: 5%;
  width: 35%;
}

.orangeFork {
  color: #f2994a;
}

.time {
  display: flex;
  justify-content: space-between;
}

.clock {
  margin-right: 2%;
}
.details {
  position: relative;
  left: 1%;
}
h5 {
  text-transform: uppercase;
  color: #828282;
}

/*main*/

main {
  margin-top: 10%;
}
.ingredients_title {
  text-transform: capitalize;
  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5%;
}

/*ingredients*/
.crust_cake {
  font-family: Playfair Display;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 5%;
}

.checkBoxes {
  display: flex;
  margin-top: 5%;
  width: 100%;
}
.greyBox {
  border: 1px solid #828282;
  width: 21px;
  height: 21px;
  border-radius: 4px;
}

.directives {
  width: 80%;
  padding-left: 3%;
  line-height: 20px;
}

/*nstruction*/
.instructions {
  padding-top: 10%;
}
.instructions_title {
  text-transform: capitalize;
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 700;
}

.instructions_container {
  padding-top: 5%;
}

.instructions_number {
  display: flex;
  padding-bottom: 2%;
}

.number {
  background-color: #f2994a;
  color: #fff;
  font-family: Playfair Display;
  padding: auto;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  font-size: 24px;
  font-weight: 700;

  display: flex;
  justify-content: center;
}

.instructions_text {
  margin-left: 3%;
  width: 70%;
}

.source {
  color: #828282;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  width: 100%;
}
/*footer*/

#footer {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 20%;
  margin-bottom: 3%;
}

/*tablets*/
@media screen and (min-width: 481px) and (orientation: portrait) {
  body {
    font-size: 1.2rem;
    margin: 0 10%;
  }

  .description {
    display: flex;
    padding-top: 3%;
  }

  .dots {
    transform: rotate(90deg);
    position: relative;
    bottom: 12%;
    left: 4%;
    color: #828282;
    height: 100%;
  }

  .text {
    padding-left: 8%;
    width: 100%;
    float: right;
    font-style: italic;
    position: relative;
    right: 15px;
  }

  img {
    width: 100%;
  }

  .text {
    width: 100%;
    font-style: italic;
    position: relative;
  }
  .mainContent {
    margin-top: 5%;
  }
  .mealDetails {
    display: none;
  }

  main {
    margin-top: 5%;
  }

  .checkBoxes {
    display: flex;
    margin-top: 2%;
    width: 100%;
  }

  .cheesecake {
    margin-top: 3%;
  }

  .instructions_text {
    margin-left: 3%;
    width: 60%;
  }

  .source {
    color: #828282;
    margin-top: 10%;
    text-align: left;
    width: 100%;
  }
}

/*small deskop*/
@media screen and (min-width: 769px) {
  body {
    font-size: 2rem;
    margin: 0 10%;
  }

  .title {
    font-size: 4rem;
  }
  /*description*/

  .description {
    display: flex;
    padding-top: 3%;
    position: relative;
    right: 4%;
  }

  .dots {
    transform: rotate(90deg);
    position: relative;
    bottom: 12%;
    left: 4%;
    color: #828282;
    height: 100%;
  }

  .text {
    padding-left: 6%;
    width: 100%;
    float: right;
    font-style: italic;
    position: relative;
    right: 15px;
  }
  /*description*/

  img {
    width: 100%;
  }
  .mainContent {
    margin-top: 5%;
  }
  .mealDetails {
    display: none;
  }

  main {
    margin-top: 2%;
  }
  .directives {
    width: 80%;
    padding-left: 3%;
    line-height: 46px;
  }

  .checkBoxes {
    display: flex;
    margin-top: 2%;
    width: 100%;
  }

  .cheesecake {
    margin-top: 3%;
  }

  .instructions_text {
    margin-left: 3%;
    width: 60%;
  }

  .instructions_container {
    padding-top: 2.2%;
  }

  .ingredients_title,
  .instructions_title {
    font-size: 3rem;
  }

  .greyBox {
    width: 30px;
    height: 30px;
  }
  .crust_cake {
    font-size: 1.75rem;
    font-weight: 500;
  }
  .source {
    color: #828282;
    margin-top: 10%;
    text-align: left;
    width: 100%;
  }
}

/*large deskop*/
@media screen and (min-width: 1024px) {
  body {
    padding: 0;
  }
}
>>>>>>> 950f2624bee517b9588575a9ac5babafc37ad715
